# .env.example
SUPABASE_URL=https://adhqkomzzknoinxvykss.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFkaHFrb216emtub2lueHZ5a3NzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjAxNjk4MywiZXhwIjoyMTAxNTkyOTgzfQ.Svlm847j1NjHlX6XjBHu33tgOtHebT1Om_ZCETiP9js
